{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'listings/styles.css' %}">
    <title>MerchEx</title>
</head>
<body>
    <nav>
     <a href="{% url 'band-list' %}">Groupes</a>
     <a href="{% url 'listing-list' %}">Listings</a>
     <a href="{% url 'about' %}">A propos</a>
     <a href="{% url 'contact' %}">Contact</a>
    </nav>
    {% block content %}

    {% endblock  %}
</body>
</html>